{% extends "base.html" %}


{% block student_message_success %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} "{% endif %}>{{ message }} {{ student.name }} </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock student_message_success %}


{% block nav_class_student_list %}active{% endblock %}


{% block title %}Students list{% endblock title %}


{% block student_add_form %}<p><a href="{% url 'students:add' %}">	Добавить студента</a></p>{% endblock student_add_form %}

{% block page_header %}Список студентов{% endblock %}


{% block page_content %}
				<div class="container">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>имя фамилия пароли явки</th>
								<th>адрес</th>
								<th>скайп</th>
								<th>курсы</th>
								<th>Операции</th>
							</tr>
						</thead>
						{% for i in student_list %}
						<tbody>
							<tr>
								<td class="a_table_by_center">{{ forloop.counter }}</td>
								<td class="a_table_by_center"><a href="{% url 'students:detail' i.id %}">{{i.surname}} {{ i.name }}</td>
								<td class="a_table_by_center">{{ i.address }}</td>
								<td class="a_table_by_center">{{ i.skype }}</td>
								<td class="a_table_by_center">
								{% for k in i.courses.all %}
									<a href="{% url 'courses:detail' k.id %}">{{ k.name }}</a></br>
								{% endfor %}
								</td>
								<td class="a_table_by_center">
								<a href="{% url 'students:edit' i.id %}">
								<button type="button" class="btn btn-info">Изменить</button>
								</a>
								<a href="{% url 'students:remove' i.id %}">
								<button type="button" class="btn btn-danger">Удалить</button>
								</a>
								</td>
							</tr>
						</tbody>
						{% endfor %}
					</table>
				</div>
				
				<ul class="pagination">
 
        			{% if page_obj.has_previous %}
           			<li ><a href="?page={{ page_obj.previous_page_number }}"><< previous</a></li>
        			{% endif %}

    
        			{% for i in paginator.page_range %}

					<li class = 
					{% if i == page_obj.number %}
					"active"
					{% endif%}
					><a href="?page={{ i }}">{{ i }}</a></li>
					
					{% endfor %}

        			{% if page_obj.has_next %}
         		   	<li><a href="?page={{ page_obj.next_page_number }}">next >></a></li>
        			{% endif %}
  
				</ul>
				
{% endblock page_content %}	