<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COntacts</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <!--student_defined_css_validity CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    
    <!-- Bootstrap core JS -->
    <script src="../static/js/bootstrap.js"></script>
  </head>
  <body>
    <ul class="nav nav-pills">
      <li role="presentation" ><img class="a_logo" src="../static/images/python.png" /></li>
      <li role="presentation"><a href="index.html">Main</a></li>
      <li role="presentation" class="active"><a href="#">Contacts</a></li>
    </ul>

    <div class="container"> <!-- container -->
      <p>
        <h1 class="a_description_title">Организаторы курса</h1>
        
        <div class="row">
          <div class="col-sm-4">
            <div class="well well-lg">
              <h3><div class="a_organizers">Director</div></h3>
              <div class="a_data_organizers"><b>Name:</b> Майкл де Санта</div>
              <div class="a_data_organizers"><b>Skype:</b> santi_claus.gifts</div>
              <div class="a_data_organizers"><b>Email:</b> mikle_de_santa7@gmail.com</div>
              <div class="a_data_organizers"><b>Phone:</b> 8-421-437-13-13</div>
              <div class="a_data_organizers"><img class="a_contacts" src="../static/images/director.png" ></div>
            </div>    
          </div>
          <div class="col-sm-4">
            <div class="well well-lg">
              <h3><div class="a_organizers">Manager</div></h3>
              <div class="a_data_organizers"><b>Name:</b> Франклин Клинтон</div>
              <div class="a_data_organizers"><b>Skype:</b> rage_n_fire.doom</div>
              <div class="a_data_organizers"><b>Email:</b> frank_stain1991@gmail.com</div>
              <div class="a_data_organizers"><b>Phone:</b> 9-876-543-21-00</div>
              <div class="a_data_organizers"><img class="a_contacts" src="../static/images/manager.png" ></div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well well-lg">
              <h3><div class="a_organizers">Founder</div></h3>
              <div class="a_data_organizers"><b>Name:</b> Тревор Филипс</div>
              <div class="a_data_organizers"><b>Skype:</b> trevor.philips.toc</div>
              <div class="a_data_organizers"><b>Email:</b> guns_n_drugs@gmail.com</div>
              <div class="a_data_organizers"><b>Phone:</b> 8-800-888-35-35</div>
              <div class="a_data_organizers"><img class="a_contacts" src="../static/images/founder.png" ></div>
            </div>  
          </div>
        </div> <!--row -->

      </p>
    </div> <!-- container -->





  <div class="alert alert-success" role="alert">Более подробную информацию вы можете узнать из  <a href="http://lurkmore.to/%D0%93%D0%A2%D0%90" target="_blank">Википедии</a></div>
    <p>
      <div class="a_quotation">
        Питает джедая Сила. Но бойся темной стороны. <br />
        (c)Конфуций
      </div>
    </p>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="../static/js/bootstrap.js"></script>   
  </body>
</html>
