{% extends "base.html" %}


{% load staticfiles %}


{% block title %}contacts{% endblock title %}


{% block nav_class_contact %}active{% endblock %}


{% block content %}
    <div class="container"> <!-- container -->
        <h1 class="a_description_title">Организаторы курса</h1>
        
        <div class="row">
          <div class="col-sm-4">
            <div class="well well-lg">
              <div class="a_organizers"><h3>Director</h3></div>
              <div class="a_data_organizers"><b>Name:</b> Майкл де Санта</div>
              <div class="a_data_organizers"><b>Skype:</b> santi_claus.gifts</div>
              <div class="a_data_organizers"><b>Email:</b> mikle_de_santa7@gmail.com</div>
              <div class="a_data_organizers"><b>Phone:</b> 8-421-437-13-13</div>
              <div class="a_data_organizers"><img class="a_contacts" src="{% static 'images/director.png' %}" ></div>
            </div>    
          </div>
          <div class="col-sm-4">
            <div class="well well-lg">
              <div class="a_organizers"><h3>Manager</h3></div>
              <div class="a_data_organizers"><b>Name:</b> Франклин Клинтон</div>
              <div class="a_data_organizers"><b>Skype:</b> rage_n_fire.doom</div>
              <div class="a_data_organizers"><b>Email:</b> frank_stain1991@gmail.com</div>
              <div class="a_data_organizers"><b>Phone:</b> 9-876-543-21-00</div>
              <div class="a_data_organizers"><img class="a_contacts" src="{% static 'images/manager.png' %}" ></div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well well-lg">
              <div class="a_organizers"><h3>Founder</h3></div>
              <div class="a_data_organizers"><b>Name:</b> Тревор Филипс</div>
              <div class="a_data_organizers"><b>Skype:</b> trevor.philips.toc</div>
              <div class="a_data_organizers"><b>Email:</b> guns_n_drugs@gmail.com</div>
              <div class="a_data_organizers"><b>Phone:</b> 8-800-888-35-35</div>
              <div class="a_data_organizers"><img class="a_contacts" src="{% static 'images/founder.png' %}" ></div>
            </div>  
          </div>
        </div> <!--row -->
    </div> <!-- container -->





    <div class="alert alert-success" role="alert">Более подробную информацию вы можете узнать из  <a href="http://lurkmore.to/%D0%93%D0%A2%D0%90" target="_blank">Википедии</a></div>
      <div class="a_quotation">
        <div>Питает джедая Сила. Но бойся темной стороны.</div>
        <div>(c)Конфуций</div>
      </div>
{% endblock content %}