<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Gritch Joe</title>

		
		<!--student_defined_css_validity CSS -->
		<link href="../static/css/style.css" rel="stylesheet">
		<!-- Bootstrap core CSS -->
		<link href="../static/css/bootstrap.css" rel="stylesheet">
		<!-- Bootstrap core JS -->
		<script src="../static/js/bootstrap.js">script</script>
	</head>
	<body>
		<ul class="nav nav-pills">
			<li role="presentation" ><img class="a_logo" src="../static/images/python.png" /></li>
			<li role="presentation"><a href="index.html">Main</a></li>
			<li role="presentation"><a href="contact.html">Contacts</a></li>
			<li role="presentation"><a href="student_list.html">Students</a></li>
		</ul>
		<div class="container"> <!-- container -->

        
        
        <div class="row">
          <div class="col-sm-4">
            <div class="well well-lg">
              <div class="a_organizers"><h1 class="a_description_title">Gritch Joe</h1></div>
              <div class="a_data_organizers"><img class="a_contacts" src="../static/images/student.png" ></div>
              <div class="a_data_organizers"><b>Surname:</b> Gritch</div>
              <div class="a_data_organizers"><b>Name:</b> Joe</div>
              <div class="a_data_organizers"><b>Patronymic:</b> Alekseevich</div>
              <div class="a_data_organizers"><b>Rating:</b> 50</div>
              <div class="a_data_organizers"><b>Average Grade:</b> 99</div>
              <div class="a_data_organizers"><b>Package:</b> Prof</div>
              <div class="a_data_organizers"><b>Birth Date:</b> 12/02/1991</div>
              <div class="a_data_organizers"><b>Post:</b> 00100</div>
              <div class="a_data_organizers"><b>Address:</b> Romanian</div>
              <div class="a_data_organizers"><b>E-mail:</b> grch@gmail.com</div>
              <div class="a_data_organizers"><b>Skype:</b> grch.skype</div>
            </div>    
          </div>
        </div> <!--row -->



      <table class="table table-bordered">
						<thead>
							<tr>
								<th>Course</th>
								<th>Week</th>
								<th>Control Type</th>
								<th>Grade</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="a_table_by_center a_vertical_align" rowspan="5" ><div class="a_lvlbellow_list">PY101 introduction</div></td>
								<td class="a_table_by_center a_vertical_align" rowspan="3" >Week1</td>
								<td class="a_table_by_center">Tests</td>
								<td class="a_table_by_center">100%</td>

							</tr>
							<tr>
								<td class="a_table_by_center">Problem Task #1</td>
								<td class="a_table_by_center">100%</td>
							</tr>

							<tr>
								<td class="a_table_by_center">Problem Task #2</td>
								<td class="a_table_by_center">1%</td>
							</tr>

							<tr>
								<td class="a_table_by_center" rowspan="3" valign="middle">Week2</td>
								<td class="a_table_by_center">Tests</td>
								<td class="a_table_by_center">100%</td>
							</tr>

							<tr>
								<td class="a_table_by_center">Problem Task #1</td>
								<td class="a_table_by_center">100%</td>
							</tr>																																								
						</tbody>
					</table>  

    </div> <!-- container -->

		</div>		