{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Students</title>

		
		<!--student_defined_css_validity CSS -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<!-- Bootstrap core JS -->
		<script src="{% static 'js/bootstrap.js' %}">script</script>
	</head>
	<body>
		<ul class="nav nav-pills">
			<li role="presentation" ><img class="a_logo" src="{% static 'images/python.png' %}" /></li>
			<li role="presentation"><a href="{% url 'index' %}">Main</a></li>
			<li role="presentation"><a href="{% url 'contact' %}">Contacts</a></li>
			<li role="presentation" class="active"><a href="#">Students</a></li>
		</ul>
		
		<div class="well well-lg"> <!--well global -->
			<div class="container">
				<h1>SDAcademy units</h1>

				<p><div class="a_description_title">List of the ones who tries so hard</div></p>

				<div class="container">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>No</th>
								<th>Surname</th>
								<th>Name</th>
								<th>Address</th>
								<th>Skype</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="a_table_by_center"><a href="{% url 'student_detail' %}">1</a></td>
								<td class="a_table_by_center">Gritch</td>
								<td class="a_table_by_center">Joe</td>
								<td class="a_table_by_center">Romanian</td>
								<td class="a_table_by_center">grch.skype</td>
							</tr>
							<tr>
								<td class="a_table_by_center">2</td>
								<td class="a_table_by_center">Jonson</td>
								<td class="a_table_by_center">Sanya</td>
								<td class="a_table_by_center">Chilie</td>
								<td class="a_table_by_center">jnjn.skype</td>
							</tr>
							<tr>
								<td class="a_table_by_center">3</td>
								<td class="a_table_by_center">Crimson</td>
								<td class="a_table_by_center">Don</td>
								<td class="a_table_by_center">USA</td>
								<td class="a_table_by_center">son.skype</td>
							</tr>
							<tr>
								<td class="a_table_by_center">4</td>
								<td class="a_table_by_center">Fufel</td>
								<td class="a_table_by_center">Crim</td>
								<td class="a_table_by_center">China</td>
								<td class="a_table_by_center">ffl.skype</td>
							</tr>
							<tr>
								<td class="a_table_by_center">5</td>
								<td class="a_table_by_center">Petrov</td>
								<td class="a_table_by_center">Pet</td>
								<td class="a_table_by_center">Canada</td>
								<td class="a_table_by_center">petya.skype</td>
							</tr>																												
						</tbody>
					</table>


				</div>	
			</div>
		</div>		