{% extends "base.html" %}


{% block title %}Course details{% endblock title %}


{% block nav_class_index %}active{% endblock %}


{% block student_selector %}{% url 'students:list_view' %}?course_id={{ defined_course.id }}{% endblock %}


{% block content %}

{% include "include/courses_include.html" with block_selected_course=defined_course block_numer="#" block_theme="Тема" block_description="Описание" %}
<!-- include point here-->			
<!-- include exit here-->			
<p>
    <a href="{% url 'courses:add_lesson' defined_course.pk %}">
        <button type="button" class="btn btn-warning">Добавить занятие</button>
    </a>
</p>

		<div class="well well">
			<h3>Преподаватель</h3>
			<div class="panel panel-success">
    			<div class="panel-heading">
        			<h3 class="panel-title">Учитель</h3>
    			</div>
	    			
    			<div class="panel-body">
    				<div class="well well">
    					<p>
                            {% if defined_course.coach.id %}
    						<a href="{% url 'coaches:detail' defined_course.coach.id %}">
    							{{ defined_course.coach.user.first_name }} {{ defined_course.coach.user.last_name }}
    						</a>
    					</p>
    					{{ defined_course.coach.description }}
                            {% endif %}
    				</div>
    			</div>
	    			
			</div>
			<div class="panel panel-info">
    			<div class="panel-heading">
        			<h3 class="panel-title">Ассистент</h3>
    			</div>
    			
    			<div class="panel-body">
    				<div class="well well">
    					<p>
                            {% if defined_course.assistant.id %}
    						<a href="{% url 'coaches:detail' defined_course.assistant.id %}">
    							{{ defined_course.assistant.user.first_name }} {{ defined_course.assistant.user.last_name }}
    						</a>	
    					</p>
    					{{ defined_course.assistant.description }}
                            {% endif %}
    				</div>
    			</div>
			</div>
		</div>		
{% endblock content %}